<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <style>
        .error-message {
            color: red;
            font-size: 10px;
            margin-left: 5px;
            margin-bottom: 5px;
            display: none;
            text-align: left;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // 서버 주소를 가져오는 함수
        function fetchServerAddress() {
            return $.get("/hc").then(response => {
                return response.serverAddress;
            });
        }

        // 페이지 로드 시 서버 주소를 가져와서 설정
        window.onload = async function () {
            const serverAddress = await fetchServerAddress();
            const defaultAddress = "localhost";
            window.baseUrl = (serverAddress === defaultAddress) ? "http://localhost:8080" : `http://${serverAddress}`;
        };

        function openJoinPopup() {
            var popup = window.open(`${window.baseUrl}/joinPage`, "_self");
        }
    </script>
</head>

<body>
    {{#errorMessage}}
    <script type="text/javascript">
        alert("{{errorMessage}}")
    </script>
    {{/errorMessage}}
    <div class="loginpage" id="loginPage"> <!-- 화면 중앙에 위치하기 위한 div 추가 -->
        <form class="loginForm" action="/login" method="post">
            <h2>로그인</h2>
            <div class="input-wrapper">
                <input class="loginText" id="usernameInput" type="text" name="username" placeholder="아이디" required>
            </div>
            <input class="loginPassword" id="passwordInput" type="password" name="password" placeholder="비밀번호" required>
            <input class="loginSubmit" type="submit" value="로그인">
            <button class="signup-button" type="button" onclick="openJoinPopup()">회원가입</button>
            <div class="social-login">
                <img src="/static/img/main/kakao.png" onclick="kakaoLogin()">
                <img src="/static/img/main/naver.png" onclick="naverLogin()">
                <img src="/static/img/main/google.png" onclick="googleLogin()">
            </div>
        </form>
    </div>
</body>

</html>